<!-- eslint-disable @html-eslint/require-closing-tags -->
<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  {{ block "html" . }}
  <head>
    {{ partial "meta.html" . }}
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} | Darkdell </title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Title }}">
    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
    {{ range .Params.custom_css }}
      <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
      {{ partial "main_menu" . }}
        <main>
          {{ block "main" . }}
            {{ block "title" . }}
              <h1>{{ .Title }}</h1>
            {{ end }}
            {{ block "content" . }}
              {{ .Content }}
            {{ end }}
          {{ end }}
        </main>
        <aside>
          {{ block "aside" . }}
          {{ end }}
        </aside>
      {{ end }}
      <footer>
        {{ block "footer" . }}
        {{ end }}
      </footer>
    {{ end }}
  </body>
</html>
