// Define the font size
$font-size: 16px;

$primary: #fffdfa;
$secondary: #454545;
$a_color: #0070c9;
$a_hover_color: #005ea6;
$a_visited_color: #004d80;

html {
  background-color: $primary;
  color: $secondary;
}

html.dark {
  background-color: $secondary;
  color: $primary;
}

body {
  font-size: $font-size;
  line-height: 1.5;
}

h2 {
  a, a:visited {
    color: $secondary;
    text-decoration: none;
  }
}

code {
  font-size: 80%;
}

a {
  color: $a_color;

  .inline-svg {
    color: $a_color;
    text-decoration: none;
    fill: $a_color;
  }

}

a:hover {
  color: $a_hover_color;

  .inline-svg {
    color: $a_hover_color;
    text-decoration: none;
    fill: $a_hover_color;
  }

}

a:visited {
  color: $a_visited_color;

  .inline-svg {
    color: $a_visited_color;
    text-decoration: none;
    fill: $a_visited_color;
  }

}

.inline-svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: -0.125em;
}
